.app__footer{
    height: 140px;
    background-color:#cbd5e1;
    color:#334155;
    font-weight: 200;
    position: relative;
    font-weight: 400;

    img{
        height: 60px;
        opacity: 0.8;
    }
    
}